.vs

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
C:\Users\ittai\Documents\WorkingProjects\SFML_ProjectSpinny\SFML_ProjectSpinny\Macros.props

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
[Bb]in/
[Oo]bj/